/* giving fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* declaring variables */
:root{
    --primary:rgb(0, 225, 255);
    --secondary:rgb(146, 221, 211);
    --background:rgb(238, 227, 227);
    --text:rgb(128, 125, 125);
}
/* glbal setting */
*{
    margin: 10px;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
/* navigation starts */
nav{
display: flex;
justify-content: space-between;
align-items: baseline;


}
/* adjustment for the chrip */
.chirp {
    margin: 50px 30px;
    font-size: larger;
    color: var(--primary);
    font-style: italic;
}
.nav>a{
    color: var(--text);
    
}
.btn{
    margin:0 auto;
    padding:10px;
    align-items: center;
    font-size: larger;
    background-color: var(--primary);
    border: 0 ;
    border-radius: 10px;
    color: #fff;
}
.btn>img{
    margin: auto;
    display: inline;
}
/* navigation ends */

/* home part starts */

main{
    background-color: var(--background);
    margin: 20px;
    padding:5px;
}
/* side ko image */
.home>img{
    height: 320px;
    width: 250px;
    float: right;
}

/* text ko lagi */
.home>h1{
    text-decoration: none;
    text-transform: capitalize;
}
p{
    text-transform: capitalize;
}
/* users image */
.img-cnt{
  float: left;
  position: relative;
  margin-right: -3%;
}
/* muni patti ko lorem */
/* .home:nth-child(){
    margin: 50px;
    background-color:green;
} */
.img-container + p{
    margin: 50px;
    background-color:green;
}
/* bosy ends */
/* features starts */
.features{
    margin: 50px;
    padding: 20px;
}
.tables{
    display: grid;
   grid: 100px / auto auto ;

}
.tables div{
    margin: 10px;
    padding: auto;
    border: 1px solid black;
    font-size: large;
}

.tables,h2,p {
    text-transform: capitalize;
}