/* giving fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

/* declaring variables */
:root{
    --primary:rgb(0, 225, 255);
    --secondary:rgb(146, 221, 211);
    --background:rgb(238, 227, 227);
    --text:rgb(128, 125, 125);
    --black:black;
}
/* glbal setting */
*{
    margin: 10px;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
/* navigation starts */
nav{
display: flex;
justify-content: space-between;
align-items: baseline;


}
/* adjustment for the chrip */
.chirp {
    margin: 50px 30px;
    font-size: larger;
    color: var(--primary);
    font-style: italic;
}
.nav>a{
    color: var(--text);
    
}
.btn{
    margin:0 auto;
    padding:10px;
    align-items: center;
    font-size: larger;
    background-color: var(--primary);
    border: 0 ;
    border-radius: 10px;
    color: #fff;
}
.btn>img{
    margin: auto;
    display: inline;
}
/* navigation ends */

/* home part starts */

main{
    margin: 20px;
    padding:5px;
}
.home{
    background-color: var(--background);
}
/* side ko image */
.home>img{
    height: 320px;
    width: 250px;
    float: right;
}
/* witout this codes image chaii background color vnda talla jharxa */
.home::after{
    content: "";
    clear: both;
    display: table;
}

/* text ko lagi */
.home>h1{
    text-decoration: none;
    text-transform: capitalize;
}
p{
    text-transform: capitalize;
}
/* users image */
.img-cnt{
  float: left;
  position: relative;
  margin-right: -3%;
}
/* muni patti ko lorem */
.img-container + p{
    margin: 20px;
    margin-top: 1px 2px ;
    height: 50px;
    width: 70%;
    display: flex;
    justify-items:flex-start;
    align-items: center;
}
/* same lorem ma blue color add */
p>span{
    color: var(--primary);
}
/* body ends */
/* features starts */
section + .features{
    margin:120px;
    padding: 12px;
}
/* heading part */
section,h2{
    text-transform: capitalize;
    font-size: larger;
    font-weight: 500px;
}
/* heading vanda muni patti ko smater part */
h2>span{
    display: flex;   
}
/* image size */
.img>img{
    height: 60px;
}
/* 4 box part */
.box{
    padding: 5px;
    width: 100%;
    display: grid;
    grid: 120px / auto auto;
    grid-gap: 100px ;
}
/* 4 ota box ko border */
.img {
    border: 1px solid;
    height: 190px;
}
/* end of features */
/* start of review part */
.cus{
    background-color: var(--secondary);
}
.rev{
    padding: 4rem;
}
.rev>h1{
    display: flex;
    background-color: var(--secondary);
    font-weight: 900px;
}
/* this part brings the three divs vertically  */
.rev>*{
    display:inline-block ;
    vertical-align: middle;
    background-color: white;
}
/* giving prper height for those boxes */
.one{
    width: 300px;
    height: 280px;
}
.two{
    width: 300px;
    height: 340px;
}
.three{
    width: 300px;
    height: 290px;
}
/* keeping the twitter logo in right side */
.log{
   float: right;
}
/* yo chaii likes ko lagi */
.heart>p{
    float: left;
}
/* yo ferii date ko lagi */
.heart>span{
   float: right;
}
/* aaba chaii pack walla */
.pack>*{
    border: 1px solid orange;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    padding: 0px;
}
.pack{
    border: 2px solid purple;
    margin: 120px;

}
.pk{
   
    height: 500px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    word-wrap:break-word;
}
ul{
    text-decoration: none;
    list-style: none;
    margin: 190px 280px;
}
/* yo duita part chaii blue tick laii ra text laii vertically align garauna ho */
.li{
    display:flex;
    align-items: center;

}
.li>span{
    padding: 10px;
}

.pk>.btn{
    border: 3px solid green;
   

}

/* end of comments part */
/* last footer part */
footer{
    margin: 0%;
    padding: 0%;
    display: flex;
   justify-content: space-between;
align-items: baseline;
background-color: var(--secondary);
}
/* end of css */